name: "jina-ai-mcp"

volumes:
  screenshots:
services:
  reader-mcp:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 3000
      - 8000 # MCP server @ "/sse" endpoint
    volumes:
      - screenshot:/app/local-storage
    environment:
      PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"
      PUPPETEER_EXECUTABLE_PATH: "/usr/bin/google-chrome-stable"
      READER_URL: "http://localhost:3000"
      MCP_PORT: "8000"
    restart: always
